<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Index">Index</a></li>
                <li><a href="/Streaming_Services">Streaming Services</a></li>
                <li><a href="/Movies">Movies</a></li>
                <li><a href="/Awards">Awards</a></li>
                <li><a href="/Actors">Actors</a></li>
                <li><a href="/Movies_Actors">Movies-Actors</a></li>
                <li><a href="/Movie_Streaming_Services">Movies-Streaming Services</a></li>

            </ul>
        </nav>
    </header>

    {{{body}}}

</body>
</html>