
<body>
    <header>
    </header>

    <h1> Actors Table </h1>
    <table>
        <thead>
            <tr>
                <th>Actor ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Vin</td>
                <td>Diesel</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Brad</td>
                <td>Pitt</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Al</td>
                <td>Pacino</td>
            </tr>
        </tbody>
    </table>

    <h2>Add an Actor</h2>
    <form>
        <label>First Name:</label><br>
        <input type="text"></input><br>

        <label>Last Name:</label><br>
        <input type="text"></input><br><br>

        <button>
            Confirm
        </button>
    </form>
    <h2>Update an Actor</h2>
    <form>
        <label> Actor </label>
        <select>
            <option>
                Vin Diesel
            </option>
            <option>
                Brad Pitt
            </option>
            <option>
                Al Pacino
            </option>
        </select> <br>
        <label>First Name:</label><br>
        <input type="text"></input><br>

        <label>Last Name:</label><br>
        <input type="text"></input><br><br>

        <button>
            Update
        </button>
        <button>
            Cancel
        </button>
    </form>
    <h2>Delete an Actor</h2>
    <form>
        <label> Actor </label>
        <select>
            <option>
                Vin Diesel
            </option>
            <option>
                Brad Pitt
            </option>
            <option>
                Al Pacino
            </option>
        </select> <br> <br>
        <button>
            Delete
        </button>
        <button>
            Cancel
        </button>
    </form>
</body>