

<h1> Index </h1>

<h2>Welcome to Movie Database</h2>
<p>This is movie database where Actors, Movies, Awards and Streaming Services are stored</p>
<p>Streaming Servies - Shows all the Streaming Services and their costs</p>
<p>Movies - Shows all the movies as well as their rating, runtime, genre and their additional costs</p>
<p>Awards - Shows all the awards a movie/actor has won, the year they won and the award title</p>
<p>Actors - Shows all the actors that are in the database first name and last name</p>
<p>Movies-Actors - Shows the intersection table for movies and actors, to see who's in what movie</p>
<p>Movies-Streaming Services - Shows all the intersection table for movies and streaming servies </p>