
<body>

    <h1> Movies-Actors Intersection Table </h1>
        <table>
            <thead>
                <tr>
                    <th>
                        Movie Actors ID
                    </th>
                    <th>
                        actor ID
                    </th>
                    <th>
                        movie ID
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>

                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        3
                    </td>

                </tr>
            </tbody>

        </table>




        <h2>Add an Intersection</h2>
        <form>
            <label> Actor </label>
            <select>
            <option>
                Vin Diesel
            </option>
            <option>
                Al Pacino
            </option>
            <option>
                Bradd Pitt
            </option>
            </select> <br>
    
            <label> Movies </label>
            <select>
            <option>
                Fast and Furious
            </option>
            <option>
                The Godfather
            </option>
            <option>
                Fight Club
            </option>
            </select> <br>

            <button>
                Confirm
            </button>





            <h2>Update Intersection</h2>
            <form>
                <label> Movie Actor </label>
                <select>
                <option>
                    1
                </option>
                <option>
                    2
                </option>
                <option>
                    3
                </option>
                </select> <br>

                <label> Movie </label>
                <select>
                <option>
                    1
                </option>
                <option>
                    2
                </option>
                <option>
                    3
                </option>
                </select> <br>
        
                <label> Actor </label>
                <select>
                <option>
                    1
                </option>
                <option>
                    2
                </option>
                <option>
                    3
                </option>
                </select> <br>
        
                <button>
                    Update
                </button>
            </form>

            <h2>Delete an Intersection</h2>
            <form>
                <form>
                    <label> Movies Actor </label>
                    <select>
                    <option>
                        1
                    </option>
                    <option>
                        2
                    </option>
                    <option>
                        3
                    </option>
                    </select><br><br>
                <button>
                    Delete
                </button>

            </form>

        </form>

</body>