
<body>
    <header>

    </header>
    <h1> Movies-Streaming Services Intersection Table </h1>
    <table>
        <thead>
            <tr>
                <th>
                    Movies Streaming Services ID
                </th>
                <th>
                    movie ID
                </th>
                <th>
                    streaming service ID
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    2
                </td>
                <td>
                    2
                </td>

            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    3
                </td>
                <td>
                    3
                </td>

            </tr>
        </tbody>

    </table>




    <h2>Add an Intersection</h2>
    <form>
        <label> Movie </label>
        <select>
            <option>
                Fast and Fuirous
            </option>
            <option>
                Fight Club
            </option>
            <option>
                The Godfather
            </option>
        </select> <br>

        <label> Streaming Services </label>
        <select>
            <option>
                Flixnet
            </option>
            <option>
                Stream+
            </option>
            <option>
                PearTV
            </option>
        </select> <br>

        <button>
            Confirm
        </button>





        <h2>Update Intersection</h2>
        <form>

            <label> Movie Streaming Service </label>
            <select>
                <option>
                    1
                </option>
                <option>
                    2
                </option>
                <option>
                    3
                </option>
            </select> <br>

            <label> Movie </label>
            <select>
                <option>
                    Flixnet
                </option>
                <option>
                    Stream+
                </option>
                <option>
                    PearTV
                </option>
            </select> <br>

            <label> Streaming Serivce </label>
            <select>
                <option>
                    Flixnet
                </option>
                <option>
                    Stream+
                </option>
                <option>
                    PearTV
                </option>
            </select> <br>

            <button>
                Update
            </button>
        </form>

        <h2>Delete an Intersection</h2>
        <form>
            <form>
                <label> Movies Streaming Service </label>
                <select>
                    <option>
                        1
                    </option>
                    <option>
                        2
                    </option>
                    <option>
                        3
                    </option>
                </select><br><br>
                <button>
                    Delete
                </button>

            </form>

        </form>

</body>