



<body>
    <header>

    </header>
    <h1> Movies Table </h1>
        <table>
            <thead>
                <tr>
                    <th>
                        Movie ID
                    </th>
                    <th>
                        Movie
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        Genre
                    </th>
                    <th>
                        Minutes
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Fast and Fuirous
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        Action
                    </td>
                    <td>
                        125
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Fight Club
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        Psychological
                    </td>
                    <td>
                        122
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        The Godfather
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        Crime
                    </td>
                    <td>
                        180
                    </td>
                </tr>
            </tbody>

        </table>
        <h2>Add a Movie</h2>
        <form>
            <label>Movie Name:</label><br>
            <input type="text"></input><br>
    
            <label>Movie Rating:</label><br>
            <input type="text"></input><br>

            <label>Movie Genre:</label><br>
            <input type="text"></input><br>
    
            <label>Movie Runtime:</label><br>
            <input type="text"></input><br><br>

            <button>
                Confirm
            </button>

            <h2>Update a Movie</h2>
            <form>
                <label> Movie</label>
                <select>
                <option>
                    Godfather
                </option>
                <option>
                    Fast and Furious
                </option>
                <option>
                    Fight Club
                </option>
                </select> <br>
                <label>Movie Name:</label><br>
                <input type="text"></input><br>

                <label>Rating:</label><br>
                <input type="text"></input><br>

                <label>Movie Genre:</label><br>
                <input type="text"></input><br>
        
                <label>Movie Runtime:</label><br>
                <input type="text"></input><br><br>
        
                <button>
                    Update
                </button>
                <button>
                    Cancel
                </button>
            </form>

            <h2>Delete a Movie</h2>
            <form>
                <label> Movie </label>
                <select>
                <option>
                    The Godfather
                </option>
                <option>
                    Fast and Furious
                </option>
                <option>
                    Fight Club
                </option> 
            </select> <br> <br>
                <button>
                    Delete
                </button>
                <button>
                    Cancel
                </button>
            </form>
        </form>


</body>