

<body>

    <h1> Streaming Services </h1>
    <table>
        <tbody>
            <tr>
                <th>Service ID</th>
                <th>Name</th>
                <th>Subscription Cost</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Flixnet</td>
                <td>$5</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Stream+</td>
                <td>$6</td>
            </tr>
            <tr>
                <td>3</td>
                <td>PearTV</td>
                <td>$7</td>
            </tr>
        </tbody>
    </table>

    <h2>Add a Streaming Service</h2>
    <form>
        <label>Service Name:</label><br>
        <input type="text"></input><br>

        <label>Service Cost:</label><br>
        <input type="text"></input><br><br>

        <button>
            Confirm
        </button>
    </form>

    <h2>Update a Streaming Service</h2>
    <form>
        <label> Service </label>
        <select>
        <option>
            Flixnet
        </option>
        <option>
            Stream+
        </option>
        <option>
            PearTV
        </option>
        </select> <br>
        <label>Service Name:</label><br>
        <input type="text"></input><br>

        <label>Service Cost:</label><br>
        <input type="text"></input><br>

        <button>
            Update
        </button>
        <button>
            Cancel
        </button>
    </form>

    <h2>Delete a Streaming Service</h2>
    <form>
        <label> Streaming Service </label>
        <select>
        <option>
            FlixNet
        </option>
        <option>
            Stream+
        </option>
        <option>
            PearTV
        </option> 
    </select> <br> <br>
        <button>
            Delete
        </button>
        <button>
            Cancel
        </button>
    </form>
</form>


</body>